<h1>Listing forgots</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forgots.each do |forgot| %>
      <tr>
        <td><%= forgot.email %></td>
        <td><%= link_to 'Show', forgot %></td>
        <td><%= link_to 'Edit', edit_forgot_path(forgot) %></td>
        <td><%= link_to 'Destroy', forgot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forgot', new_forgot_path %>
