<h1>Listing signins</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signins.each do |signin| %>
      <tr>
        <td><%= signin.email %></td>
        <td><%= signin.password %></td>
        <td><%= link_to 'Show', signin %></td>
        <td><%= link_to 'Edit', edit_signin_path(signin) %></td>
        <td><%= link_to 'Destroy', signin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signin', new_signin_path %>
